:root {
  --primary: #8c54ff;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 40px;
  letter-spacing: .1em;
  font-family: 'Catamaran', sans-serif;
}

.background {
  background-image: url(/src/assets/background/5651978.png) ;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 4.25rem;
  font-family: 'Permanent Marker', cursive;
  font-style: italic;
  text-shadow: 2px 2px 8px white;
  margin-left: 8px;
  
}

h2 {
  font-size: 3rem;
  text-decoration: underline black;
  font-family: 'Road Rage', cursive;
}

h3 {
  font-size: 1.75rem;
  text-decoration: underline black;
  font-family: 'Rock Salt', cursive;
  text-align: left;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  text-shadow: 2px 2px 8px white;
}

a:hover {
  font-style: italic;
}

li {
  list-style: none;
}

fieldset {
  display: inline;
  border: 3px solid black;
  font-size: 20px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.nav-link {
	border-radius: 5px;
	color: var(--light);
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
  padding-top: 2px;
  font-size: 18px;	
  text-decoration: none;
  text-shadow: 2px 2px black;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-linkActive {
  border-radius: 5px;
	color: black;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
  padding-top: 2px;
  font-size: 18px;	
  text-decoration: none;
  background-color: rgba(241, 241, 241, 0.795);
  font-style: italic;
  

}

.portfolio-img {
  border: solid black 2px;
  box-shadow: 5px 10px black;
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

.projectCard {
  border-style: double;
  border-color: black;
}

.projectDescription {
  width: 270px;
  font-size: small;
}

.navLayout {
  margin-top: auto;
  margin-left: auto;
}

.navBackground {
  background-image: url(/src/assets/background/default-header.png);
  background-size: cover;
}

.avatar {
  width: 400px;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
  filter: drop-shadow(16px 16px 10px black);
  float: left;
  margin-right: 20px;
}

.aboutInfo {
  text-shadow: 2px 2px 4px white;
}

.cardContainer {
  justify-content: center;
  margin-bottom: 10px;
}

footer {
  background-image: url(/src/assets/background/default-footer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
}

.repoLink {
  background-color: none;
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}

.icon {
  height: 50px;
}

.iconLayout {
float: none;
text-align: center;
padding-top: 40px;
}

.copyright {
float: right;
margin-right: 10px;
margin-top: 15px;
font-size: 20px;
}

.messageText {
  width: 500px;
  height: 150px;
}

.contactCard {
  text-align: center;
}

.contactForm {
  display: inline-block;
}

button {
  border-radius: 5px;
	color: black;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
  padding-top: 2px;
  font-size: 15px;	
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
}

button:hover {
  font-style: italic;
  cursor: pointer;
}

.twitterIcon {
  margin-left: 3px;
}

.slogan {
  font-family: 'Permanent Marker', cursive;
  margin-left: 45px;
  text-shadow: 2px 2px 8px white;
  font-size: 25px;
}

.specialNotes {
  font-family: 'Rock Salt', cursive;
}

.resumeLi {
  background-color: none;
  text-decoration: none;
  color: var(--dark);
  font-size: 15px;
}

.errorText {
  color: red;
}

.emailLink {
  text-decoration: none;
  font-size: 20px;
  color: var(--dark);
}