:root {
  --light: #fafafa;
  --dark: #000;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 40px;
  letter-spacing: .1em;
  font-family: 'Catamaran', sans-serif;
}

.background {
  background-image: url(/src/assets/background/5651978.png) ;
  background-size: cover;
}

h1,
h2,
h3
{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 65px;
  font-family: 'Spectral SC', serif;
  font-style: italic;
  text-shadow: 2px 2px 15px var(--dark);
  margin-left: 8px;
  color: rgb(255, 254, 254);
}

h2 {
  font-size: 35px;
  text-decoration: underline var(--dark);
  font-family: 'Spectral SC', serif;
}

h3 {
  font-size: 1.75rem;
  font-family: 'Rokkitt', serif;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

p {
  font-size: 1.3rem;
  margin-top: 0;
  text-shadow: 4px 4px 10px var(--light);
}

a:hover {
  font-style: italic;
}

li {
  list-style: none;
}

fieldset {
  display: inline;
  border: 3px solid var(--dark);
  font-size: 20px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.nav-link {
	border-radius: 5px;
	color: var(--light);
  font-size: 18px;	
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 4px;
}

.nav-linkActive {
  border-radius: 5px;
	color: var(--dark);
  margin-right: 5px;
  font-size: 18px;	
  text-decoration: none;
  background-color: rgba(241, 241, 241, 0.795);
  font-style: italic;
  text-shadow: none;
}

.portfolio-img {
  border: solid   var(--dark) 2px;
  box-shadow: 5px 10px var(--dark);
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

.projectCard {
  border-style: double;
  border-color:  var(--dark);
  margin: 2px;
  background-color: rgb(231, 228, 228);
}

.projectDescription {
  width: 270px;
  font-size: 15px;
  margin: auto;
  height: 300px;
}

.navLayout {
  margin-top: auto;
  margin-left: auto;
}

.navBackground {
  background-image: url(/src/assets/background/default-header.png);
  background-size: cover;
}

.avatar {
  width: 400px;
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 8px;
  filter: drop-shadow(20px 20px 15px black);
  float: left;
  margin-right: 30px;
}

.aboutInfo {
  text-shadow: 2px 2px 4px var(--light);
}

.cardContainer {
  justify-content: center;
  margin-bottom: 10px;
}

footer {
  background-image: url(/src/assets/background/default-footer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
}

.repoLink {
  background-color: none;
  text-decoration: none;
  color: var(--dark);
  font-size: 25px;
}

.icon {
  height: 50px;
  margin-left: 4px;
}

.iconLayout {
display: flex;
justify-content: center;
padding-top: 40px;
}

.copyright {
margin-left: 10px;
margin-top: 15px;
font-size: 13px;
text-shadow: 2px 2px 12px var(--light);
}

.messageText {
  width: 500px;
  height: 150px;
}

.contactCard {
  text-align: center;
  justify-content: center;
}

.contactForm {
  display: inline-block;
}

button {
  border-radius: 5px;
	color: var(--dark);
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
  padding-top: 2px;
  font-size: 15px;	
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
}

button:hover {
  font-style: italic;
  cursor: pointer;
}

.twitterIcon {
  margin-left: 3px;
}

.slogan {
  font-family: 'Spectral SC', serif;
  margin-left: 45px;
  text-shadow: 20px 20px 50px var(--dark);
  font-size: 25px;
  color: white;
}

.specialNotes {
  font-family: 'Rokkitt', serif;
  font-size: 23px;
  text-decoration: underline;
}

.resumeLi {
  background-color: none;
  text-decoration: none;
  color: var(--dark);
  font-size: 15px;
}

.errorText {
  color: var(--error);
}

.emailLink {
  text-decoration: none;
  font-size: 20px;
  color: var(--dark);
}

.cardList{
  padding: 0;
  list-style-type: none;
  align-items: center;
  text-align: center;
}

.dropbtn {
  background-color: #333333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-size: 15px;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(88, 88, 88);}

.resumeWrapper{
  padding-bottom: 40px;
}

.outroText {
  display: flex;
  align-items: center;
}

.aboutWrapper, .portfolioWrapper, .resumeWrapper, .personalWrapper {
  margin: 0 5%
}

.Img {
  float: left;
  width: 450px;
  height: 500px;
  margin-right: 15px;
}

#proficiencies {
  font-family: 'Spectral SC', serif;
}

#toggle {
  display: none;
}

.hambergerMenu {
  display: none;
}