@media only screen and (max-width: 900px) {
    .navBackground {
        height: 80px;
    }

    .slogan {
        font-size: 15px;
        margin-top: -10px;
    }

    .hambergerMenu {
        background-color: rgb(0,0,0,1);
        border-radius: 10px;
        text-align: center;
        padding: 2px;
        padding-left: 5px;
        margin-right: 10px;
        position: absolute;
        top: .25em;
        right: 0;
        display: block ;
        cursor: pointer;
        color: var(--light);
    }

    #toggle:checked + .navLayout {
        display: block;
        height: auto;
        background-color: #333333;
        padding-top: 10px;
    }
    
    .nav-link {
        display: block;
        padding: 0px 50px;
        background-color: #333333;
    }

    .nav-linkActive {
        background-color: rgba(241, 241, 241, 0.795);
        color: var(--dark);
    }

    .navLayout {
        display: block;
        text-align: center;
        width: auto;
        display: none;
        margin-bottom: 10px;
        margin-top: 80px;
        z-index: 1;
    }
    
    h1 {
        font-size: 40px;
    }

    .avatar {
        width: 240px;
    }
  }

  @media only screen and (max-width: 773px) {
    .second-list-proficiencies {
        margin-top: -22px;
    }
  }

  @media only screen and (max-width: 710px) {
    .slogan {
        font-size: 12px;
        margin-left: 10px;
    }
  }

  @media only screen and (max-width: 645px) {
    .avatar {
        float: none;
        display: block;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
    }
    
    .branding-statement {
        text-align: center;
    }
  }

  @media only screen and (max-width: 598px) {
    .navLayout {
        margin-top: 0px;
    }
  }

  @media only screen and (max-width: 420px) {
    h1 {
        margin-left: 5px;
        font-size: 35px;
    }

    .slogan {
        font-size: 9px;
    }
  }